# ignora diretórios que são gerados localmente
.devcontainer/
.vscode/
build/
# ignora arquivos de configuração desnecessários
sdkconfig
sdkconfig.defaults
sdkconfig.old
sdkconfig
sdkconfig.old
main/lvgl_demo_ui.cpp
